*{
    font-family: sans-serif;
    margin:0;
}
html{
    height: 100%;
}

body{
    height: inherit;
}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.logo{
    display: block;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 190px;
    height: 60px;
}

.right_smth{
    display: block;
    position: absolute;
    width: 865px;
    left: 1586px;
    top: -475px;
    rotate: -77deg;
}

.left_smth{
    display: block;
    position: absolute;
    width: 865px;
    top: -317px;
    left: -431px;
    rotate: -24deg;
}

.text>h1{
    width: 838px;
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    color: #162C4E;
    opacity: 0.39;
    padding: 93px 0 8px 0;
}

.text>p{
    width: 423px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
}

main{
    flex: 1 0 auto;
}

.timer__items {
    display: flex;
    margin: 0 auto;
    width: 588px;
    justify-content: space-around;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    padding-top: 32px;
    line-height: 100%;
    color:#162C4E;
}

.timer__item {
    position: relative;
    min-width: 60px;
    padding-bottom: 3px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -43px;
    font-family: 'Poppins';
}

.timer__naming{
    display: flex;
    margin: 0 auto;
    width: 588px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 72px;
}

.timer__name{
    display: flex;
    font-family: 'Poppins';
    color:white;
    background-image: url(assets/for_timer.png);
    min-width: 132px;
    height: 54px;
    align-items: center;
   justify-content: center;
}

.event_link>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 338px;
    margin: 0 auto;
    padding-bottom: 12px;
}

.button{
    cursor: pointer;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 76px;
    width: 240px;
    height: 60px;
    background: #1D4169;
    border-radius: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.button>img{
    vertical-align: middle;
    padding-left: 34px;
}

footer{
    flex: 0 0 auto;
    height: 192px;
    background: #162C4E;
}

.email{
    padding:0 0 0 27px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    box-sizing: border-box;
    width: 440px;
    height: 59px;
    margin: 61px 0 0 740px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
}

form{
    position: relative;
}

.submit{
    padding:0;
    position: absolute;
    /* top:36%;
    left:59%; */
    left: 1129px;
    top: 69px;
    background: #DF2224;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.transparent{
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; top: 0; bottom: 0; /* Занимает всё пространство */
    background:rgba(22, 44, 78, 0.6); /* Полупрозрачный цвет фона */
}
.disappear{
    display:none;
}

.message{
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto auto;
    position: absolute;
    width: 320px;
    height: 370px;
    background-color: #FFFFFF;
    z-index: 1;
}

.message>h4{
    padding-top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    text-align: center; 
    color: #162C4E;
}

.message>p{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    padding: 29px 16px 30px 24px;
}

.button_note{
    width: 200px;
    cursor: pointer;
}

.cross{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 5px;
    padding: 16px;
}
.cross:before, .cross:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: gray;
}
.cross:before {
    right: 4px;
    transform: rotate(45deg);
}
.cross:after {
    right: 4px;
    transform: rotate(-45deg);
}


@media (max-width: 768px){
.right_smth{
    top: -500px;
    left: 417px;
    rotate: -88.63deg;
}

.left_smth{
    display: block;
    position: absolute;
    width: 478px;
    left: -250px;
    top: -197px;
    rotate: -24deg;
}

.logo{
    padding-top: 100px;
}

.text>h1{
    width: 419px;
    font-size: 36px;
    line-height: 104%;
    padding: 166px 0 20px 0;
}

.text>p{
    width: 286px;
    font-size: 16px;
}

.timer__items {
    display: flex;
    width: 358px;
    font-size: 36px;
    padding-top: 40px;
}

.timer__item {
    position: relative;
    min-width: 27px;
    padding-bottom: 6px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -30px;
    font-family: 'Poppins';
}

.timer__naming{
    width: 358px;
    padding-bottom: 40px;
}

.timer__name{
    color:white;
    background-image: url(assets/for_smaller_timer.png);
    min-width: 64px;
    max-width: 64px;
    height: 40px;
}

.event_link>p{
    font-size: 16px;
    max-width: 300px;
    padding-bottom: 15px;
}

.button{
    margin-bottom: 169px;
}

footer{
    height: 160px;
}


.email{
    padding:0 0 0 20px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 360px;
    height: 41px;
    margin: 59px 204px 0 204px;
    font-size: 14px;
}

.submit{
    padding:0;
    position: absolute;
    left: 527px;
    top: 63px;
    background: #DF2224;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}


}



@media (max-width: 360px){
    .right_smth{
        width:642px;
        top: -376px;
        left: 125px;
        rotate: -85deg;
    }
    
    .left_smth{
        display: block;
        position: absolute;
        width: 366px;
        left: -200px;
        top: -165px;
        rotate: -24deg;
    }

    .logo{
        max-width: 128px;
        height: 40px;
        padding-top: 80px;
    }

    .text>h1{
        text-align: center;
        width: 320px;
        font-size: 36px;
        line-height: 104%;
        padding: 66px 0 16px 0;
    }

    .timer__items {
        display: flex;
        width: 310px;
        font-size: 36px;
        padding-top: 40px;
    }

    .timer__item:not(:last-child)::after {
        right: -23px;
    }

    .timer__naming{
        width: 310px;
    }

    .button{
        margin-bottom: 86px;
    }

    footer{
        height: 141px;
    }

    .email{
        width: 280px;
        height: 41px;
        margin: 50px 40px;
        font-size: 14px;
    }
    
    .submit{
        padding:0;
        position: absolute;
        left: 283px;
        top: 54px;
        background: #DF2224;
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }
    
    }